/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, sans-serif;
    background: #fafafa;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;
    background: white;
    border-bottom: 1px solid #ddd;

    position: sticky;
    top: 0;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 24px;
    font-weight: bold;
}

.logo i {
    font-size: 28px;
}

/* NAV LINKS */
.nav-links {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #111;
    font-size: 15px;

    display: flex;
    align-items: center;
    gap: 6px;

    transition: 0.3s;
}

.nav-links a:hover {
    color: #e1306c;
}

/* HAMBURGER */
.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {

    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .navbar {
        padding: 15px 20px;
    }

    .logo span {
        font-size: 20px;
    }
}